<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football PREDICTION</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
</head>
<body>
    <p class="text-red-400 text-4xl">welcome to my site</p>
    <div>
       <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    </div>
        
</body>
</html>